<main>
  <div class="container mx-auto p-4">
    <app-highlight-text
      [topText]="''"
      [highlightText]="'Telefones e Endereços'"
      [image]="''"
    ></app-highlight-text>

    <app-highlight-text
      [topText]="'Prefeitura'"
      [highlightText]="''"
      [image]="''"
    ></app-highlight-text>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3679.293310552566!2d-43.4507141!3d-22.754493699999998!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9967a85012c47b%3A0x52f5a452ffb9f3a1!2sPrefeitura%20Municipal%20de%20Nova%20Igua%C3%A7u!5e0!3m2!1spt-BR!2sbr!4v1732503529084!5m2!1spt-BR!2sbr"
      width="600"
      height="450"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
    Horário de funcionamento: Fechado ⋅ Abre seg. às 09:00 Telefone: (21)
    2668-6774
    <app-highlight-text
      [topText]="'Saúde'"
      [highlightText]="''"
      [image]="''"
    ></app-highlight-text>
    Hospital Geral de Nova Iguaçu: 3779-9900 <br />
    Central de Regulação de Exames: 3510-5210 <br />
    Clínica Dom Walmor: 2767-9812 <br />
    Ouvidoria da Prefeitura: 2666-4910 <br />

    <app-highlight-text
      [topText]="'Secretarias'"
      [highlightText]="''"
      [image]="''"
    ></app-highlight-text>
    SEMAS – Secretaria Municipal de Assistência Social: <br />
    SEMCOGER – Secretaria Municipal de Controle Geral: 2666-4905 / 2666-4901
    <br />
    SEMCULT – Secretaria Municipal de Cultura: 2666-0172 <br />
    SEMAM – Secretaria Municipal de Agricultura e Meio Ambiente:<br />
    SEMED – Secretaria Municipal de Educação: 2199775-0088 (WhatsApp )<br />
    SEMEF – Secretaria Municipal de Economia e Finanças: 2666-4970 (CAC) /
    2666-4928 (Gabinete)<br />
    SEMEL – Secretaria Municipal de Esporte e Lazer: 2666-0171<br />
    SEMIF – Secretaria Municipal de Infraestrutura: 3779-1109<br />
    SEMAT – Secretaria Municipal de Administração e Tecnologia:<br />
    <strong> Protocolo: </strong>
    <a href="tel:2137790950" class="text-orange hover:underline">3779-0950</a><br />

    Superintendência de Recursos Humanos – STDRH: <a href="tel:2137790620" class="text-orange hover:underline">3779-0620</a><br />
    Superintendência de Folha de Pagamento – STDFP: <a href="tel:2137790983" class="text-orange hover:underline">3779-0983</a><br />
    Tecnologia da Informação – TI: <a href="tel:2126664999" class="text-orange hover:underline">2666-4999</a><br />
    Comissão Permanente de Inquérito Administrativo – CPIA: <a href="tel:2137791173" class="text-orange hover:underline">3779-1173</a><br />
    Setor Administrativo: <a href="tel:2137791171" class="text-orange hover:underline">3779-1171</a><br />
    Setor de Estágio: <a href="tel:2137791172" class="text-orange hover:underline">3779-1172</a><br />
    Patrimônio: <a href="tel:217790944" class="text-orange hover:underline">7790-9443</a><br />
    Almoxarifado: <a href="tel:2137791169" class="text-orange hover:underline">3779-1169</a><br />
    Compras e Contratos: <a href="tel:2137790596" class="text-orange hover:underline">3779-0596</a><br />
    Controle Interno: <a href="tel:2137790400" class="text-orange hover:underline">3779-0400</a><br />


    SEMSEG – Secretaria Municipal de Segurança Pública: 2668-2403<br />
    SEMTMU – Secretaria Municipal de Transporte, Trânsito e Mobilidade Urbana:
    3779-1021<br />
    SEMDETTUR – Secretaria Municipal de Desenvolvimento Econômico, Trabalho e
    Turismo: 2666-0163<br />
    SEMUG – Secretaria Municipal de Governo:<br />
    Controle Urbano:<br />
    Ouvidoria: 2666-4910<br />
    CPL: 2666-4924<br />
    Publicação: 2666-4903<br />
    Subsecretaria de Proteção e Defesa Civil: 212667-5751 / 199 / 98160-9740<br />
    SEMUS – Secretaria Municipal de Saúde:<br />
    Central de Regulação de Exames: 3510-5210<br />
    CODENI – Companhia de Desenvolvimento de Nova Iguaçu:<br />
    EMLURB – Empresa Municipal de Limpeza Urbana: 0800 023 2626 / 2667-8016 /
    2768-8024<br />
    FENIG – Fundação Educacional e Cultural de Nova Iguaçu:<br />
    PGM – Procuradoria-Geral do Município:<br />
    Gabinete do Procurador Geral: 2666-2460<br />
    Dívida Ativa: 2666-2468<br />
    PREVINI – Instituto de Previdência dos Servidores de Nova Iguaçu:
    2666-2200<br />

    <app-highlight-text
      [topText]="'Órgãos Municipais'"
      [highlightText]="''"
      [image]="''"
    ></app-highlight-text>
    CODENI EMLURB FENIG PREVINI PGM
  </div>
</main>
