<!-- Header Mobile -->
<header class="flex lg:hidden justify-between items-center p-4 text-blue-dark">
  <div class="flex items-center">
    <img src="/assets/logo.svg" alt="Digital Dubai Logo" class="h-16" />
  </div>

  <div class="flex gap-2">
    <!-- Botão com ícone de lupa -->
    <button class="text-white">
      <img src="/assets/lupa-icon.svg" alt="Ícone de busca" class="w-10 h-10" />
    </button>

    <!-- Botão com ícone de menu hamburger -->
    <button class="text-white">
      <img src="/assets/menu-icon.svg" alt="Ícone de menu" class="w-10 h-10" />
    </button>
  </div>
</header>

<!-- Header Desktop -->
<header class="hidden lg:flex items-center flex-col">

  <div class="bg-orange w-full">
    <div class="container p-4 mx-auto flex flex-row justify-between items-center">
      <!-- Acessibilidade e Ajuste de Tamanho -->
      <div class="flex space-x-2 items-center whitespace-nowrap">
        <span class="text-white font-semibold"><a href="/acessibilidade">ACESSIBILIDADE</a></span>
        <button class="text-white">-A</button>
        <button class="text-white">+A</button>
      </div>
      
      <!-- Logotipos e Ícones -->
      <div class="flex justify-between items-center w-full space-x-6 ml-8">
        <img src="../../../assets/leitor.svg" alt="Compatível com Leitores de Tela" class="h-12">
        <img src="../../../assets/iguacu-digital.svg" alt="Carioca Digital" class="h-12">
        <img src="../../../assets/informação.svg" alt="1746" class="h-12">
        <img src="../../../assets/lgpd.svg" alt="Acesso à Informação" class="pb-5-2 h-12">
        
        <!-- Bloco de Redes Sociais com menos gap -->
        <div class="flex items-center space-x-1 pl-4 border-l-2 border-white">
          <img src="../../../assets/white-facebook-icon.svg" alt="Facebook" class="h-8">
          <img src="../../../assets/white-email-icon.svg" alt="Instagram" class="h-8">
          <img src="../../../assets/white-instagram-icon.svg" alt="Email" class="h-8">
        </div>
      </div>
    </div>
  </div>
  
  

  

  <div class="container mx-auto p-4 flex flex-row justify-between items-center">
    <!-- Logo -->
    <div class="flex items-center">
      <img src="/assets/logo.svg" alt="Logo" class="h-32" />
    </div>

    <!-- Navegação -->
    <nav>
      <ul class="flex flex-row gap-4 text-lg font-bold uppercase text-blue-dark py-2 items-center">
        <li class="hover:text-orange transition ease-in-out duration-300">
          <a routerLink="/" routerLinkActive="text-orange underline" [routerLinkActiveOptions]="{ exact: true }">
            Início
          </a>
        </li>
        <li class="hover:text-orange transition ease-in-out duration-300">
          <a routerLink="/secretarias" routerLinkActive="text-orange underline">
            Secretarias
          </a>
        </li>
        <li class="hover:text-orange transition ease-in-out duration-300">
          <a routerLink="/diario" routerLinkActive="text-orange underline">
            Diário oficial
          </a>
        </li>
        <li class="hover:text-orange transition ease-in-out duration-300">
          <a routerLink="/noticias" routerLinkActive="text-orange underline">
            Notícias
          </a>
        </li>
        <li class="hover:text-orange transition ease-in-out duration-300">
          <a href="https://novaiguacu.rj.gov.br/portaldatransparencia/" routerLinkActive="text-orange underline">
            Transparência
          </a>
        </li>
        <li class="hover:text-orange transition ease-in-out duration-300">
          <a routerLink="/ouvidoria" routerLinkActive="text-orange underline">
            Ouvidoria
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
