.high-contrast {
    background-color: #000 !important;
    color: #fff !important;
  }
  
  .high-contrast a {
    color: #ff0 !important; /* Links em amarelo */
  }

  /* Estilo para manter o menu dropdown visível enquanto o mouse está sobre o botão ou o menu */
/* Estilo para manter o menu dropdown visível enquanto o mouse está sobre o botão ou o menu */
.relative:hover .absolute,
.relative .absolute:hover {
  opacity: 100;
  visibility: visible;
}
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px; /* Ajuste o tamanho conforme necessário */
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Posiciona o tooltip acima do botão */
  left: 50%;
  margin-left: -60px; /* Centraliza o tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
