<!-- Header Mobile -->
<header class="flex lg:hidden justify-between items-center p-4 text-blue-dark">
  <div class="flex items-center">
    <img src="/assets/logo.svg" alt="Digital Dubai Logo" class="h-16" />
  </div>

  <div class="flex gap-2">
    <!-- Botão com ícone de lupa -->
    <button class="text-white">
      <img src="/assets/lupa-icon.svg" alt="Ícone de busca" class="w-10 h-10" />
    </button>

    <!-- Botão com ícone de menu hamburger -->
    <button class="text-white">
      <img src="/assets/menu-icon.svg" alt="Ícone de menu" class="w-10 h-10" />
    </button>
  </div>
</header>

<!-- Header Desktop -->
<header class="hidden lg:flex items-center flex-col">
  <div class="bg-orange w-full h-[80px]">
    <div
      class="container mx-auto flex flex-row justify-between items-center h-full px-4"
    >

  
      <!-- Logotipos e Ícones -->
      <div class="flex justify-between items-center w-full space-x-4 ml-4">

      <!-- Acessibilidade e Ajuste de Tamanho -->
      <div class="flex flex-col items-center space-y-1">
        <span class="text-white font-semibold text-sm">Acessibilidade</span>
        <div class="flex space-x-2">
          <button
            (click)="increaseFontSize()"
            class="bg-white w-7 h-7 rounded-full flex items-center justify-center text-blue-dark"
          >
            <img src="/assets/+.svg" alt="" class="w-4 h-4" />
          </button>
          <button
            (click)="decreaseFontSize()"
            class="bg-white  w-7 h-7 rounded-full flex items-center justify-center text-blue-dark"
          >
            <img src="/assets/-.svg" alt="" class="w-4 h-4" />
          </button>
          <button
            (click)="toggleContrast()"
            class="bg-white  w-7 h-7 rounded-full flex items-center justify-center text-blue-dark"
          >
            <img src="/assets/contraste.svg" alt="Contraste" class="w-4 h-4" />
          </button>
          <a
            routerLink="/sitemap"
            class="bg-white  w-7 h-7 rounded-full flex items-center justify-center text-blue-dark"
          >
            <img src="/assets/sitemap.svg" alt="Grade" class="w-4 h-4" />
          </a>
          <a
            routerLink="/acessibilidade"
            class="bg-white  w-7 h-7 rounded-full flex items-center justify-center text-blue-dark"
          >
            <img
              src="/assets/acessibilidade.svg"
              alt="Acessibilidade"
              class="w-4 h-4"
            />
          </a>
        </div>
      </div>




        <img
          src="../../../assets/leitor.svg"
          alt="Compatível com Leitores de Tela"
          class="h-10"
        />
        <img
          src="../../../assets/iguacu-digital.svg"
          alt="Carioca Digital"
          class="h-10"
        />
        <img src="../../../assets/informação.svg" alt="1746" class="h-10" />
        <img
          src="../../../assets/lgpd.svg"
          alt="Acesso à Informação"
          class="h-10"
        />
  
        <a routerLink="/ouvidoria" class="text-white text-xs font-semibold">Ouvidoria</a>
  
        <!-- Bloco de Redes Sociais -->
        <div class="flex items-center space-x-2 pl-4 border-l-2 border-white">
          <a
            target="_blank"
            href="https://www.facebook.com/prefeituradenovaiguacu"
          >
            <img
              src="../../../assets/white-facebook-icon.svg"
              alt="Facebook"
              class="h-8 w-8"
            />
          </a>
          <a
            target="_blank"
            href="https://www.instagram.com/prefeituranovaiguacu"
          >
            <img
              src="../../../assets/white-email-icon.svg"
              alt="Instagram"
              class="h-8 w-8"
            />
          </a>
          <a target="_blank" href="">
            <img
              src="../../../assets/white-instagram-icon.svg"
              alt="Email"
              class="h-8 w-8"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
  
  
  

  <div class="container mx-auto p-4 flex flex-row justify-between items-center">
    <!-- Logo -->
    <div class="flex items-center">
      <a routerLink="/">
        <img src="/assets/logo.svg" alt="Logo" class="h-32" />
      </a>
    </div>

    <!-- Navegação -->
    <nav>
      <ul
        class="flex flex-row gap-4 text-lg font-bold uppercase text-blue-dark py-2 items-center"
      >
        <li class="hover:text-orange transition ease-in-out duration-300">
          <a
            routerLink="/"
            routerLinkActive="text-orange underline"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Início
          </a>
        </li>
        <li class="hover:text-orange transition ease-in-out duration-300">
          <a routerLink="/secretarias" routerLinkActive="text-orange underline">
            Secretarias
          </a>
        </li>
        <li class="hover:text-orange transition ease-in-out duration-300">
          <a
            href="https://www.doweb.novaiguacu.rj.gov.br/portal/diario-oficial"
            routerLinkActive="text-orange underline"
          >
            Diário oficial
          </a>
        </li>
        <li class="hover:text-orange transition ease-in-out duration-300">
          <a routerLink="/noticias" routerLinkActive="text-orange underline">
            Notícias
          </a>
        </li>
        <li class="hover:text-orange transition ease-in-out duration-300">
          <a
            href="https://novaiguacu.rj.gov.br/portaldatransparencia/"
            routerLinkActive="text-orange underline"
          >
            Transparência
          </a>
        </li>
        <!-- Contatos com Dropdown -->
        <li class="relative group transition ease-in-out duration-300">
          <a href="#" class="inline-block">Contato</a>
          <!-- Dropdown menu -->
          <ul
            class="absolute hidden group-hover:block bg-white rounded-lg p-2 mt-0 z-50"
          >
            <li class="hover:bg-orange transition ease-in-out duration-300">
              <a routerLink="/ouvidoria" class="block px-4 py-2">Ouvidoria</a>
            </li>
            <li class="hover:bg-orange transition ease-in-out duration-300">
              <a routerLink="/telefones" class="block px-4 py-2">Telefones</a>
            </li>
          </ul>
        </li>
      </ul>

      <!-- Barra de pesquisa -->
      <nav>
        <!-- Barra de pesquisa com formulário -->
        <div
          class="hidden lg:flex justify-between bg-white rounded-xl border border-gray px-2 py-3 my-3"
        >
        <form (ngSubmit)="onSearchSubmit()" class="flex items-center w-full">
          <div class="relative flex items-center w-full">
            <button type="submit">
              <img src="assets/lupa-icon.svg" alt="Ícone de busca" class="absolute left-0 top-0 w-10 h-10" />
            </button>

            <input
            
              type="text"
              [(ngModel)]="searchQuery"
              name="search"
              class="pl-12 pr-4 py-2 w-full border-0 rounded-lg focus:outline-none bg-gray-light placeholder-gray-dark text-dark-blue"
              placeholder="Buscar..."
              (input)="onSearch($event)"
            />
          </div>

        </form>
        
        </div>
      </nav>
    </nav>
  </div>
</header>
