<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 ">
    <div class="flex flex-row items-center justify-center p-4 bg-white border-2 border-gray rounded-xl hover:shadow-lg transition-shadow duration-200 w-full h-full">
      <div class="flex-shrink-0 mr-4">
        <img src="assets/secretario.svg" alt="Sobre o Secretário" width="40" height="40" class="w-10 h-10" />
      </div>
      <span class="font-bold text-blue-dark">Sobre o Secretário</span>
    </div>
  
    <div class="flex flex-row items-center justify-center p-4 bg-white border-2 border-gray rounded-xl hover:shadow-lg transition-shadow duration-200 w-full h-full">
      <div class="flex-shrink-0 mr-4">
        <img src="assets/atribuicoes.svg" alt="Atribuições" width="40" height="40" class="w-10 h-10" />
      </div>
      <span class="font-bold text-blue-dark">Atribuições</span>
    </div>
  
    <div class="flex flex-row items-center justify-center p-4 bg-white border-2 border-gray rounded-xl hover:shadow-lg transition-shadow duration-200 w-full h-full">
      <div class="flex-shrink-0 mr-4">
        <img src="assets/contato.svg" alt="Contato" width="40" height="40" class="w-10 h-10" />
      </div>
      <span class="font-bold text-blue-dark">Contato</span>
    </div>
  
    <div class="flex flex-row items-center justify-center p-4 bg-white border-2 border-gray rounded-xl hover:shadow-lg transition-shadow duration-200 w-full h-full">
      <div class="flex-shrink-0 mr-4">
        <img src="assets/noticias.svg" alt="Notícias" width="40" height="40" class="w-10 h-10" />
      </div>
      <span class="font-bold text-blue-dark">Notícias</span>
    </div>
  
    <div class="flex flex-row items-center justify-center p-4 bg-white border-2 border-gray rounded-xl hover:shadow-lg transition-shadow duration-200 w-full h-full">
      <div class="flex-shrink-0 mr-4">
        <img src="assets/dispensa.svg" alt="Dispensa de Licitações" width="40" height="40" class="w-10 h-10" />
      </div>
      <span class="font-bold text-blue-dark">Dispensa de Licitações</span>
    </div>
  
    <div class="flex flex-row items-center justify-center p-4 bg-white border-2 border-gray rounded-xl hover:shadow-lg transition-shadow duration-200 w-full h-full">
      <div class="flex-shrink-0 mr-4">
        <img src="assets/processo.svg" alt="Processo Seletivo Simplificado" width="40" height="40" class="w-10 h-10" />
      </div>
      <span class="font-bold text-blue-dark">Processo Seletivo Simplificado</span>
    </div>
  </div>
  