<main>
  <div class="container mx-auto p-4">
    <app-highlight-text
      [topText]="''"
      [highlightText]="'SECRETARIAS'"
      [image]="''"
    ></app-highlight-text>
    app-info-card
    <app-highlight-text
      [topText]="''"
      [highlightText]="'acesso rápido'"
      [image]="''"
    ></app-highlight-text>
    button-grid
    <app-highlight-text
      [topText]="''"
      [highlightText]="'últimas notícias'"
      [image]="''"
    ></app-highlight-text>
    noticias
  </div>
</main>
