<main class="container mx-auto p-4" *ngIf="!isSitemapRoute"> <!-- Exibe o conteúdo apenas se não estiver na rota sitemap -->
    <h1 class="text-3xl font-bold mb-4">Acessibilidade</h1>
    <p class="mb-4">
        Este portal segue as diretrizes do e-MAG (Modelo de Acessibilidade em Governo Eletrônico),
        conforme as normas do Governo Federal, em obediência ao Decreto 5.296, de 2.12.2004.
    </p>
    <p class="mb-4">
        A acessibilidade significa incluir pessoas com deficiência na participação de atividades
        como o uso de produtos, serviços e informações. Exemplos incluem rampas de acesso e
        banheiros adaptados.
    </p>
    <p class="mb-4">
        No topo do portal, há uma barra de acessibilidade com atalhos de navegação padronizados
        e a opção para alterar o contraste. Estas ferramentas estão disponíveis em todas as páginas.
    </p>
    <p class="mb-4">Atalhos padrões:</p>
    <ul class="list-disc ml-8 mb-4">
        <li>Alt + 0: abre o menu de acessibilidade</li>
        <li>Alt + 1: posiciona o cursor no conteúdo principal</li>
        <li>Alt + 2: posiciona o cursor no menu principal</li>
        <li>Alt + 3: posiciona o cursor na busca do site</li>
        <li>Alt + 4: posiciona o cursor no rodapé</li>
        <li>Alt + 5: página de acessibilidade</li>
        <li>Alt + 6: mapa do site</li>
        <li>Alt + 7: cor original do site</li>
        <li>Alt + 8: aplica o contraste na página</li>
    </ul>
    <p class="mb-4">
        Esses atalhos funcionam no Chrome, mas variam em outros navegadores. No Internet Explorer,
        pressione Enter após usar a combinação. No Firefox, use Alt + Shift + número.
    </p>
    <h2 class="text-2xl font-semibold mb-2">Leis e decretos sobre acessibilidade:</h2>
    <ul class="list-disc ml-8 mb-4">
        <li>
            <a href="https://www.planalto.gov.br/ccivil_03/_Ato2004-2006/2004/Decreto/D5296.htm"
                target="_blank" rel="noopener noreferrer">
                Decreto nº 5.296 de 02 de dezembro de 2004
            </a>
        </li>
        <li>
            <a href="https://www.planalto.gov.br/ccivil_03/_Ato2007-2010/2009/Decreto/D6949.htm"
                target="_blank" rel="noopener noreferrer">
                Decreto nº 6.949, de 25 de agosto de 2009
            </a> - Promulga a Convenção Internacional sobre os Direitos das Pessoas com Deficiência.
        </li>
        <li>
            <a href="https://www.planalto.gov.br/ccivil_03/_Ato2011-2014/2012/Decreto/D7724.htm"
                target="_blank" rel="noopener noreferrer">
                Decreto nº 7.724, de 16 de Maio de 2012
            </a> - Regulamenta a Lei de Acesso à Informação.
        </li>
    </ul>
</main>

<router-outlet></router-outlet> <!-- O router-outlet deve estar fora do *ngIf para funcionar corretamente -->
