<main>
  <section>
    <div class="container mx-auto px-4">
      <!-- Barra de pesquisa -->
      <nav>
        <div
          class="hidden lg:flex justify-between bg-white rounded-xl border border-gray px-2 py-3 my-3"
        >
          <div class="relative flex items-center w-10/12">
            <!-- Ícone de lupa -->
            <img
              src="assets/lupa-icon.svg"
              alt="Ícone de busca"
              class="absolute left-0 w-10 h-10"
            />

            <!-- Input de pesquisa -->
            <input
              type="text"
              class="pl-12 pr-4 py-2 w-full border-0 rounded-lg focus:outline-none bg-gray-light placeholder-gray-dark text-dark-blue"
              placeholder="Buscar..."
            />
          </div>

          <!-- Redes Sociais -->
          <ul class="flex gap-2 ml-2">
            <li class="w-10 h-10 flex items-center justify-center">
              <img
                src="assets/facebook-icon.svg"
                alt="Facebook"
                class="w-full h-auto"
              />
            </li>
            <li class="w-10 h-10 flex items-center justify-center">
              <img
                src="assets/instagram-icon.svg"
                alt="Instagram"
                class="w-full h-auto"
              />
            </li>
            <li class="w-10 h-10 flex items-center justify-center">
              <img
                src="assets/email-icon.svg"
                alt="Email"
                class="w-full h-auto"
              />
            </li>
          </ul>

          <!-- Item de Acessibilidade com dropdown -->
          <li class="relative flex items-center space-x-2 ml-2">
            <!-- Botão de Acessibilidade -->
            <a href="#" class="flex items-center space-x-2 group font-bold">
              Acessibilidade
              <img
                src="/assets/acess.svg"
                alt="Ícone de Acessibilidade"
                class="h-6 w-6"
              />
            </a>

            <!-- Dropdown -->
            <ul
              class="absolute left-0 top-full mt-0 w-48 bg-white rounded-md opacity-0 group-hover:opacity-100 invisible group-hover:visible transition-opacity duration-300 ease-in-out z-50"
            >
              <li class="px-4 py-2 hover:bg-gray-100">
                <button (click)="increaseFontSize()" class="w-full text-left">
                  Aumentar Fonte
                </button>
              </li>
              <li class="px-4 py-2 hover:bg-gray-100">
                <button (click)="decreaseFontSize()" class="w-full text-left">
                  Diminuir Fonte
                </button>
              </li>
              <li class="px-4 py-2 hover:bg-gray-100">
                <button (click)="toggleContrast()" class="w-full text-left">
                  Alto Contraste
                </button>
              </li>
              <li class="px-4 py-2 hover:bg-gray-100">
                <a href="/acessibilidade" class="w-full text-left"
                  >Teclas de Atalho</a
                >
              </li>
              <li class="px-4 py-2 hover:bg-gray-100">
                <a href="/sitemap" class="w-full text-left">Mapa do Site</a>
              </li>
            </ul>
          </li>
        </div>
      </nav>

      <app-highlight-text
        [topText]="'como podemos'"
        [highlightText]="'ajudar?'"
        [image]="'/assets/ni-icon.svg'"
      ></app-highlight-text>
      <app-service-panel></app-service-panel>
    </div>
  </section>

  <section>
    <div class="container mx-auto pb-4 px-4">
      <app-highlight-text
        [topText]="'o que está rolando'"
        [highlightText]="'por aqui!'"
      >
      </app-highlight-text>

      <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
        <div class="border-2 border-orange rounded-lg overflow-hidden">
          <img src="/assets/banner1.png" alt="Banner 1" class="w-full h-auto" />
        </div>
        <div class="border-2 border-orange rounded-lg overflow-hidden">
          <img src="/assets/banner2.png" alt="Banner 2" class="w-full h-auto" />
        </div>
        <div class="border-2 border-orange rounded-lg overflow-hidden">
          <img src="/assets/banner3.png" alt="Banner 3" class="w-full h-auto" />
        </div>
        <div class="border-2 border-orange rounded-lg overflow-hidden">
          <img src="/assets/banner4.png" alt="Banner 4" class="w-full h-auto" />
        </div>
      </div>
      <app-banner></app-banner>
    </div>
  </section>

  <section class="bg-gradient-to-b from-white to-gray-light">
    <div class="container mx-auto p-4">
      <app-highlight-text
        [topText]="'Últimas'"
        [highlightText]="'notícias'"
      ></app-highlight-text>

      <div class="flex flex-col lg:flex-row gap-6 h-full">
        <div class="lg:w-1/2 h-full">
          <app-carousel class="h-full"></app-carousel>
        </div>

        <div class="lg:w-1/2 h-full">
          <app-latest-news [news]="newsData" class="h-full"></app-latest-news>
        </div>
      </div>

      <div class="flex justify-center mt-4">
        <app-button surface="secondary" label="Ver mais"></app-button>
      </div>
      <app-mockup></app-mockup>
    </div>
  </section>
</main>
