<main>
  <div class="container mx-auto p-4">
    <app-highlight-text
      [topText]="''"
      [highlightText]="'PORTAL DE NOTÍCIAS'"
      [image]="''"
    ></app-highlight-text>
    <app-news-grid
      [highlight]="highlightedNews"
      [otherNews]="otherNewsList"
    ></app-news-grid>

    <app-highlight-text
      [topText]="'Últimas Notícias'"
      [highlightText]="''"
      [image]="''"
    ></app-highlight-text>
    <app-news-feed
    [newsList]="[
      {
        title: 'Escola Municipal de Nova Iguaçu é destaque em boas práticas de alfabetização',
        date: '06 de dezembro de 2024',
        image: '/assets/noticias/noticia1.jpg',
        link: '/noticia-1'
      },
      {
        title: 'Nova Iguaçu recebe Selo Ouro no Compromisso Nacional pela Alfabetização',
        date: '05 de dezembro de 2024',
        image: '/assets/noticias/noticia2.jpg',
        link: '/noticia-2'
      },
      {
        title: 'Forró toma conta do Festival de Cultura Nordestina neste fim de semana',
        date: '05 de dezembro de 2024',
        image: '/assets/noticias/noticia3.jpeg',
        link: '/noticia-3'
      },
      {
        title: 'Defesa Civil de Nova Iguaçu faz exercício simulado em Pontos de Apoio e Abrigos Temporários',
        date: '05 de dezembro de 2024',
        image: '/assets/noticias/noticia4.jpeg',
        link: '/noticia-4'
      },
      {
        title: 'Primeira fase da pré-matrícula escolar em Nova Iguaçu termina nesta sexta-feira (6)',
        date: '03 de dezembro de 2024',
        image: '/assets/noticias/noticia5.jpg',
        link: '/noticia-5'
      },
      {
        title: 'Restaurante do Povo é reinaugurado em Nova Iguaçu',
        date: '02 de dezembro de 2024',
        image: '/assets/noticias/noticia6.jpeg',
        link: '/noticia-6'
      }
    ]"
  ></app-news-feed>
  <app-pagination></app-pagination>

  </div>
</main>
