<main>
  <section class="container mx-auto p-4">
    <app-highlight-text
      [topText]="'O QUE VOCÊ'"
      [highlightText]="'PRECISA?'"
      [image]="'/assets/ni-icon3.svg'"
    ></app-highlight-text>
    <p class="text-blue-dark font-medium">
        Contribua para melhorar nossos serviços públicos com <strong>reclamações,
            elogios, sugestões</strong> ou até mesmo registrando uma <strong>denúncia</strong>
    </p>
    <app-feedback-section></app-feedback-section>
    <app-banner></app-banner>
  </section>
</main>
