<a [routerLink]="linkUrl || '#'" class="block">
  <div class="bg-white p-4 border border-gray rounded-xl cursor-pointer mb-4 text-blue-dark">
    <div class="flex flex-row">
      <!-- Parte laranja do card -->
      <div class="rounded-lg flex items-center justify-center p-2 bg-orange min-w-16 max-w-16">
        <img [src]="secretaryIcon" alt="" class="w-10 h-10" />
      </div>
      <!-- Informações do secretário -->
      <div class="flex flex-col post-item p-2">
        <h2 class="font-bold mb-3 text-sm">Secretaria</h2>
        <h1 class="text-lg font-bold mb-3 uppercase">{{ title }}</h1>
        <p class="text-xs line-clamp-2">{{ description }}</p>
        <div class="flex items-center mt-4">
          <img [src]="secretaryImage" [alt]="secretaryName" class="h-12 rounded-xl mr-4" />
          <div>
            <p class="text-sm text-gray-600">{{ secretaryGender }}</p>
            <p class="font-bold text-sm">{{ secretaryName }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</a>
